{% extends "blog/base.html" %}

{% block title %}Мой блок{% endblock %}

{% block content %}
    <h2>Мой блок</h2>
    {% for item in post %}
        <h3>
            <a href="{{ item.get_absolute_url }}">
                {{ item.title }}
            </a>
        </h3>
        <p class="date">Опубликовано {{ item.publish }} Автор: {{ item.author }}</p>
    {{ item.body|truncatewords:20|linebreaks }}
    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}