{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
    <div id="main">
      <div class="leftdiv" id="content"  >
            {% block content %}
            {% endblock %}
      </div>
      <div class="rightdiv" d="sidebar">
                <h2>Мой блок</h2>
                <p>В данном блоге опубликовано {% total_posts %} статьи.</p>

                <h3>Последние статьи</h3>
                {% show_latest_posts 3 %}
      </div>
    </div>

</body>
</html>